* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabecalho */
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90%;
    padding: 10px;
    background-color: #8Ae3d7;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Principal */

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

/* Perfil/Orderna */

#perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}

#botao-ordena {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 3%;
    background-color: #D9D9D9;
}

#botao-ordena p{
    font-size: 20px;
}

#botao-ordena i{
    font-size: 20px;
}

/* Prontuarios */
#prontuario-main{
    display: block;
    width: 100%;
}

#lista-prontuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    list-style: none;
}

.prontuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    overflow: hidden;
    background-color: #D9D9D9;
    cursor: pointer;
}

/* Rodape */

#rodape {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 47px;
    padding: 10px;
    background-color: #8Ae3d7;
}