* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-azul: #C0D6DF;
    --principal-verde: #C8DFBD;
    --principal-cinza: #f2f2f2;
    --fonte-cinza: #343843;
    --hover-cinza: #f8f8f8;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabecalho */
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 90%;
    padding: 15px;
    background-color: #8Ae3d7;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Menu */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--principal-cinza);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
    gap: 5px;
  }
  
  .sidenav a {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: var(--fonte-cinza);
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: var(--hover-cinza);
  }
  
  .sidenav .closebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
  }

  .closebtn:hover{
    border-radius: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Principal */

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    gap: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-height: 200px;
    gap: 10px;
    overflow-y: auto;
}

.modal-content img {
    max-width: 120px;
    max-height: 120px;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.modal-botoes {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.modal-button {
    display: block;
    padding: 8px 16px;
    background-color: #8Ae3d7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    padding: 20px;
}

#principal-dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

/* Perfil/Orderna */

#perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}

#botoes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 44.5%;
    max-width: 44.5%;
    height: 43px;
}

.botao-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    gap: 20px;
    max-width: 49.6%;
    padding: 10px;
    border-radius: 3%;
    background-color: #D9D9D9;
    font-size: 18px;
}

#botao-ordena {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    gap: 30%;
    max-width: 49.6%;
    padding: 10px;
    border-radius: 3%;
    font-size: 18px;
    background-color: #D9D9D9;
}

/* Prontuarios */
#prontuario-main {
    display: block;
    width: 100%;
}

#lista-prontuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    list-style: none;
}

.prontuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-height: 70%;
    overflow: hidden;
    background-color: #D9D9D9;
}

.content-prontuario {
    display: none;
    padding: 0 18px;
    width: 100%;
    background-color: var(--principal-cinza);
    padding: 1rem;
    overflow: hidden;
}

.main h1 {
    font-size: 1.25rem;
    margin: 0 0 0 0.2rem;
}

.preview-pront {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
    cursor: pointer;
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

label p {
    margin: 0 0 0.5rem 0.2rem;
}

.campo {
    padding: 0.5rem;
    border-radius: 7px;
    appearance: none;
    border: none;
    outline: none;
    transition: background 0.1s ease-in-out;
    background-color: var(--hover-cinza);
    text-wrap: wrap;
}

.campo:hover {
    background-color: var(--hover-cinza);
}

.campo:focus {
    background-color: var(--hover-cinza);
}

textarea {
    resize: vertical;
}

.main {
    width: 100%;
    background-color: var(--principal-cinza);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.101);
}


.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container.metade {
    width: 100%;
}


.metade {
    width: 49.5%;
}

.dois-terços {
    width: 66%;
}

.um-terço {
    width: 33%;
}

/* Rodape */

#rodape {
    margin-top: auto;
    width: 100%;
    height: 47px;
    padding: 10px;
    background-color: #8Ae3d7;
}